/* 
 * Small CSS framework 0.1 Nov 7th, 2008 
 * This contains specific rules to guarantee MS Internet Explorer renders the site correctly
 */
/* Reset */
textarea{padding-left:2px}

/* Layout module */
.section, .gr{ position:static;}
.classic .a-b-c .gr,.standard .classic .a-b-c .gr,
.classic .a-b .gr,	.standard .classic .a-b .gr,
.classic .b-c .gr,	.standard .classic .b-c .gr {width:24.9%;} 
.classic .a-b .b,  	.standard .classic .a-b .b,
.classic .b-c .b,	.standard .classic .b-c .b 	{width:75%;}
.classic .a-b-c .b, .standard .classic .a-b-c .b{width:50%;}
.a-b-c-d .gr, 		.standard .a-b-c-d .gr, .standard .layout .a-b-c-d .gr	{width:24.9%;}
.a-c .gr, 			.standard .a-c .g, 		.classic .a-c .gr 				{width:49.9%;} 



* html {background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/.png', sizingMethod='');}
	
	
.box {
  behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}
