/*
Theme Name: Viet Hung Food
Theme URI: http://viethungfoot.vn
Author: Vietdev co.ltd
Author URI: http://vietdev.vn/
Version: 1.0
*/

/* Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,table,tbody,tfoot,thead{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100.01%;font-family:inherit;vertical-align:baseline;}
input,textarea{margin:0;padding:0 0 0 1px;font-weight:inherit;font-style:inherit;font-size:11px;font-family:tahoma;}
textarea{width:117px;padding-left:1px}
caption,th,td{font-weight:normal;}
table{/*border-collapse:collapse;border-spacing:0;*/}
table,td,th{/*border-style:solid;border-width:1px;border-color:#a5acb2*/}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"""";}
q:before,q:after{content:'';}
img{border:none;}
:focus,a,*{outline:0;}
ul,li{list-style-type:none}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

/* Font */
body{font-size:62.5%;font-family:Arial/*, Tahoma, Verdana*/;} /* 1em 10px */

/* Layout */
#hd,#ft{clear:both}
#bd:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
/*#bd{zoom:1;}*/ /* validation */

/* Common elements */
.l{float:left}
.r{float:right}
.o{overflow:hidden}
.h{display:none}
.m0{ margin:0}
.p0{ padding:0}
.last{ margin-right:0; padding-right:0}
.cl,.clf{clear:both}
.clf{float:left}
hr{border:none;border-top:1px solid #ccc;height:1px;clear:both}
a{text-decoration:none}
a:hover{text-decoration:underline}
h1,h2,h3,h4,h5,h6{font-weight:700;} /* 62.5% standar size */
h1{font-size:1.8em;}
h2{font-size:1.3em;}
h3{font-size:1.2em;}
h4{font-size:1.1em;}
h5{font-size:1em;}
h6{font-size:0.9em;}
ul.ul-h{clear:both;}
ul.ul-h li{float:left}
ol li{list-style:decimal inside;}

/* easy clearing */
.clearfix:after{content:'';display:block;height:0;clear:both;visibility: hidden;font-size:0}
.clearfix{display: inline-block;position: relative;}
/*\*/
.clearfix{display: block;}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


@media print {
    * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: #999 solid 1px; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}


/*** 	Pattern 	 ***/

/*@font-face {
    font-family: 'FONT_NAME';
    src: url('../font/FONT_FILE_NAME.eot');
    src: url('../font/FONT_FILE_NAME.eot?#iefix') format('embedded-opentype'),
         url('../font/FONT_FILE_NAME.woff') format('woff'),
         url('../font/FONT_FILE_NAME.ttf') format('truetype'),
         url('../font/FONT_FILE_NAME.svg#FONT_NAME') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes ANIMATION_NAME{
	0%{-webkit-transform: translate3d(1px,1px,1px) rotateZ(1deg);}
	100%{-webkit-transform: translate3d(1px,1px,1px) rotateZ(1deg);}
}
@-moz-keyframes ANIMATION_NAME{
	0%{-moz-transform: translate(1px,1px) rotate(1deg);}
	100%{-moz-transform: translate(1px,1px) rotate(1deg);}
}
#ANIMATION_NAME{
	-webkit-animation-name: ANIMATION_NAME;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 100%;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: ANIMATION_NAME;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 0%;
	-moz-animation-iteration-count: infinite;
	-o-animation-name: ANIMATION_NAME;
	-o-animation-duration: 1s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 100%;
	-o-animation-iteration-count: infinite;
	-ms-transform: translate(0px,-30px);
	-ms-transform-origin: 50% 0%;
}*/


/***	Style	 ***/


body{
    background:#f1f9f7;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#3b3b3b;
}

a{ color:#197b30 }
h1{
    font-size:14px;
    color:#197b30;
    height:24px;
}

.wrapper{
    width:940px;
    margin:auto;
}
header{
    height:80px;
}
.logo{
    float:left;
    margin-top:26px;
}
.slogan{
    float:left;
    margin:20px 0 0 75px;
}
.hd_r{
    width:290px;
    float:right;
    padding-top:9px;
}
.lang{
    text-align:right;
    height:40px;
}
.lang span{
    padding:0 10px 0 0;
    font-size:13px;
}
.search{
    width:205px;
    float:right;
    overflow:hidden;
}
.search .txf{
    width:160px;
    padding:3px 10px;
    font-size:11px;
    border:none;
    text-align:left;
    float:left;
    background:url(../../../wp-content/themes/VietHungFood/images/search_bg.gif) no-repeat 0 0;
}
.search .btn{
    width:25px;
    height:20px;
    border:1px inset #bbbbbb;
    cursor:pointer;
    background:url(../../../wp-content/themes/VietHungFood/images/btn_search.gif) no-repeat;
    float:left;
    margin:0;
}
.search .btn:hover{
    background-position:0 bottom;
}

footer{
    width:100%;
    clear:both;
    padding:20px 0;
    overflow:hidden;
    color:#606060;
    font-size:11px;
}
footer p{
    padding-left:0;
}
footer span{
    padding-left:22px;
}
footer a{
    color:#606060;
}

.nav{
    height:34px;
    clear:both;
    background:#ee2634 url(../../../wp-content/themes/VietHungFood/images/nav_bg.gif) repeat-x;
    overflow:hidden;
    border:1px solid #a71a1a;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    behavior: url(../../../wp-content/themes/VietHungFood/htc/PIE.htc);
}
.nav{
    margin-bottom:12px;
}
.nav ul{
}
.nav li{
    float:left;
    height:34px;
    background:url(../../../wp-content/themes/VietHungFood/images/nav_divider.gif) no-repeat right center;
}
.nav a{
    color:#fff;
    font-size:13px;
    font-weight:700;
    line-height:34px;
    padding:9px 18px;
    text-shadow:0px 1px 1px #771e1e;
}
.nav a:hover{
    text-decoration:none;
    background:url(../../../wp-content/themes/VietHungFood/images/nav_hover.gif) repeat-x;
}
.nav a.active{
    background:url(../../../wp-content/themes/VietHungFood/images/nav_active.gif) repeat-x 0 bottom;
    color:#d01313;
    text-shadow:0px 1px 1px #ccc;
}


.bannerCover{
    width:938px;
    height:219px;
    overflow:hidden;
    border:1px solid #c2e5de;
    position:relative;
    margin-bottom:10px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    behavior: url(../../../wp-content/themes/VietHungFood/htc/PIE.htc);
}
.slideBanner{
    width:640px;
    height:219px;
    float:left;
    overflow:hidden;
    -webkit-border-radius:6px 0 0 6px;
    -moz-border-radius:6px 0 0 6px;
    border-radius:6px 0 0 6px;
    behavior: url(../../../wp-content/themes/VietHungFood/htc/PIE.htc);
}
.slideBanner .cover{
}
.slideBanner .mask{
    width:5px;
    height:219px;
    position:absolute;
    left:0;
    top:0;
    z-index:9;
    background:url(../../../wp-content/themes/VietHungFood/images/slidebanner_mask.png) no-repeat;
}
.slideBanner .prev,
.slideBanner .next{
    display:block;
    width:23px;
    height:39px;
    position:absolute;
    left:0;
    top:40%;
    z-index:10;
    background:url(../../../wp-content/themes/VietHungFood/images/slidebanner_prev.png) no-repeat;
}
.slideBanner .next{
    left:auto;
    right:298px;
    background-image:url(../../../wp-content/themes/VietHungFood/images/slidebanner_next.png);
}

.slideNav{
    width:298px;
    height:219px;
    float:right;
}
.slideNav ul{
    margin-top:-1px;
}
.slideNav li{
    height:54px;
    border-top:1px solid #f4faf9;
    border-bottom:1px solid #b0ddd5;
    background-color:#e3f3ef;
    overflow:hidden;
}
.slideNav li a{
    height:44px;
    font-size:12px;
    color:#197b30;
    display:block;
    padding:10px 40px 0;
    background:url(../../../wp-content/themes/VietHungFood/images/slidenav_bullet.gif) no-repeat 30px 15px;
}
.slideNav li a:hover{
    background-color:#eff7f5;
    text-decoration:none;
}
.slideNav li a.active{
    background-color:#c2e4de;
}

.slideNews{
    height:30px;
    overflow:hidden;
    border:1px solid #c2e5de;
    position:relative;
    margin-bottom:10px;
    background-color:#fff;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    behavior: url(../../../wp-content/themes/VietHungFood/htc/PIE.htc);
}
.slideNews h2{
    float:left;
    font-size:12px;
    color:#197b30;
    display:inline;
    line-height:30px;
    padding:0 13px;
    background:#e3f3ef;
    border-right:1px solid #c2e5de;
}
.slideNews .cover{
    position:relative;
    width:580px;
    height:30px;
    line-height:30px;
    float:left;
    padding:0 13px;
}
.slideNews .pagination{
    float:right;
    padding-right:15px;
}
.slideNews .pagination a{
    line-height:30px;
    padding:6px 3px;
}
.slideNews .pagination img{
    margin-top:-5px
}


.p-home{}
.p-home .boxes{

    float:left;
}
.box{
    width:301px;
    height:163px;
    float:left;
    margin-bottom:17px;
    overflow:hidden;
    -webkit-border-radius: 6px;
}
.box h2{
    text-align:center;
    height:38px;
    line-height:38px;
    color:#fff;
    font-size:14px;
    font-weight:700;
    /*-webkit-border-radius:3px 3px 0 0;
         -moz-border-radius:3px 3px 0 0;
         border-radius:3px 3px 0 0;*/
}
.box .copy{
    background:#fff;
    height:123px;
    overflow:hidden;
    border-width:1px;
    border-style:solid;
    -webkit-border-radius:0 0 4px 4px;
    -moz-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px;
}
.box .copy img{
    margin:10px 15px 0 10px;
}
.box .copy p{
    font-size:11px;
    height:90px;
    color:#227d31;
    padding:10px 10px 0 0;
}
.box .copy p a{
    font-size:11px;
    font-weight:400;
}
.box .copy a.viewMore{
    background:url(../../../wp-content/themes/VietHungFood/images/icon_readmore_arrow.gif) no-repeat right center;
    padding-right:8px;
}
.box .copy .thumb{
    float:left;
}

.box_game h2{
    background:#66cebc url(../../../wp-content/themes/VietHungFood/images/box_h2_side.jpg) no-repeat;
    -webkit-text-shadow:0px 1px 1px #af4359;
    -moz-text-shadow:0px 1px 1px #af4359;
    text-shadow:0px 1px 1px #af4359;
}
.box_game .copy{
    border-color:#66cebc;
    text-align:center;
}
.box_game .copy img{
    margin:0;
}



.box_promotion h2{
    background:#66cebc url(../../../wp-content/themes/VietHungFood/images/box_h2_side.jpg) no-repeat;
    -webkit-text-shadow:0px 1px 1px #66cebc;
    -moz-text-shadow:0px 1px 1px #a3631d;
    text-shadow:0px 1px 1px #a3631d;
}
.box_promotion .copy{ border-color:#66cebc; }
.box_promotion .copy .thumb{
}
.box_promotion .copy p{
}
.box_promotion .copy a{
}

.box_newProduct h2{
    background:#66cebc url(../../../wp-content/themes/VietHungFood/images/box_h2_side.jpg) no-repeat;
    -webkit-text-shadow:0px 1px 1px #298720;
    -moz-text-shadow:0px 1px 1px #298720;
    text-shadow:0px 1px 1px #298720;
}
.box_newProduct .copy{ border-color:#66cebc}
.box_newProduct .copy .thumb{
}
.box_newProduct .copy p{
}
.box_newProduct .copy a{
}


.box_newProduct .copy {
}
.box_news h2{
    background:#66cebc url(../../../wp-content/themes/VietHungFood/images/box_h2_side.jpg) no-repeat;
    -webkit-text-shadow:0px 1px 1px #1b5e97;
    -moz-text-shadow:0px 1px 1px #1b5e97;
    text-shadow:0px 1px 1px #1b5e97;
}
.box_news .copy{ border-color:#66cebc}
.box_news .copy .thumb{
}
.box_news .copy p{

}
.box_news1 .copy {
    background:#fff;
    height:160px;
    overflow:hidden;
    border-width:1px;
    border-style:solid;
    -webkit-border-radius:0 0 4px 4px;
    -moz-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px;
}
.box_news .copy a{
}

.p-home .side{
    float:right;
    width:301px;
}
.p-home .side h2{
    text-align:center;
    height:38px;
    line-height:38px;
    color:#fff;
    font-size:14px;
    font-weight:700;
    background:#66cebc url(../../../wp-content/themes/VietHungFood/images/box_h2_side.jpg) no-repeat;
    -webkit-text-shadow:0px 1px 1px #379887;
    -moz-text-shadow:0px 1px 1px #379887;
    text-shadow:0px 1px 1px #379887;
    /*-webkit-border-radius:3px 3px 0 0;
         -moz-border-radius:3px 3px 0 0;
         border-radius:3px 3px 0 0;*/
}
.p-home .side .copy h2{ margin-left:-1px }
.p-home .side .copy{
    background:#fff;
    height:303px;
    overflow:hidden;
    border-width:1px;
    border-style:solid;
    border-color:#66cebc;
    -webkit-border-radius:0 0 4px 4px;
    -moz-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px;
}
.p-home .sideProduct{
    height:150px;
    padding:8px 14px;
}

.p-home .latestNews{
    -webkit-border-radius:0 0 4px 4px;
    -moz-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px;
}
.p-home .latestNews ul{
    margin:0 35px 0 15px;
    overflow:hidden;
}
.p-home .latestNews ul li{
    border-top:1px solid #bbe2db;
    margin-top:-1px;
    padding:8px 0 8px 13px;
    background:url(../../../wp-content/themes/VietHungFood/images/slidenav_bullet.gif) no-repeat 0 13px;
}


/* About */
.p-about{
    border:1px solid #c2e4de;
    background:#fff;
    padding:15px 25px;
    overflow:hidden;
}
.p-about .aboutImg{
    float:left;
}
.p-about .cover{
    width:615px;
    height:325px;
    float:right;
}
.p-about h1{
    height:24px;
}
.p-about .copy{
    width:95%;
    height:296px;
    overflow:auto;
    padding-right:30px;
    font-size:11px;
    color:#3b3b3b;
    line-height:1.4;
}
.p-about .copy p{
    padding-bottom:11px;
}



/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
#cboxTopLeft{width:14px; height:14px; background:url(../../../wp-content/themes/VietHungFood/images/controls.png) no-repeat 0 0;}
#cboxTopCenter{height:14px; background:url(../../../wp-content/themes/VietHungFood/images/border.png) repeat-x top left;}
#cboxBottomLeft{width:14px; height:43px; background:url(../../../wp-content/themes/VietHungFood/images/controls.png) no-repeat 0 -32px;}
#cboxBottomCenter{height:43px; background:url(../../../wp-content/themes/VietHungFood/images/border.png) repeat-x bottom left;}
#cboxBottomRight{width:14px; height:43px; background:url(../../../wp-content/themes/VietHungFood/images/controls.png) no-repeat -36px -32px;}
#cboxMiddleLeft{width:14px; background:url(../../../wp-content/themes/VietHungFood/images/controls.png) repeat-y -175px 0;}
#cboxMiddleRight{width:14px; background:url(../../../wp-content/themes/VietHungFood/images/controls.png) repeat-y -211px 0;}
#cboxContent{background:#fff; overflow:visible;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:5px;}
#cboxLoadingOverlay{background:url(../../../wp-content/themes/VietHungFood/images/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(../../../wp-content/themes/VietHungFood/images/loading.gif) no-repeat center center;}
#cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
#cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{position:absolute; bottom:-29px; background:url(../../../wp-content/themes/VietHungFood/images/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
#cboxPrevious{left:0px; background-position: -51px -25px;}
#cboxPrevious:hover{background-position:-51px 0px;}
#cboxNext{left:27px; background-position:-75px -25px;}
#cboxNext:hover{background-position:-75px 0px;}
#cboxClose{right:0; background-position:-100px -25px;}
#cboxClose:hover{background-position:-100px 0px;}

.cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}




/*
* CSS Styles that are needed by jScrollPane for it to operate correctly.
*
* Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
* may not operate correctly without them.
*/

.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
    margin: 0;
    padding: 0;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #e3f3ef;
    position: relative;
    box-shadow:inset 0 0 5px #dcefeb;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    behavior:url(PIE.htc);
}

.jspDrag
{
    background: #87d0c3;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    behavior:url(PIE.htc);
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspHorizontalBar .jspArrow
{
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}





/* Product */
.p-product{
    border:1px solid #c2e4de;
    background:#fff;
    padding:15px 25px;
}
.p-product .main{
    width:720px;
    float:left;
}
.navSub{
    float:left;
    width:160px;
}
.navSub ul{
    margin-left:-45px;
}
.navSub li{
    width:132px;

    margin-bottom:9px;
}
.navSub a{
    background:url(../../../wp-content/themes/VietHungFood/images/navsub_bg.gif) no-repeat;
    display:block;
    width:128px;

    padding:0 4px 16px 0;
    line-height:32px;
    color:#fff;
    font-size:13px;
    font-weight:700;
    text-align:center;
    text-shadow:0px 1px 1px #04702f;
}
.navSub a:hover,
.navSub a.active{
    background-position:0 bottom;
    color:#007830;
    text-decoration:none;
    text-shadow:0px 1px 1px #84ccbb;
}

.productSlide{
    width:660px;
    height:170px;
    position:relative;
    overflow:hidden;
    margin:10px auto;
    background:url(../../../wp-content/themes/VietHungFood/images/productslide_bg.jpg) no-repeat;
}
.productSlide .prev,
.productSlide .next{
    display:block;
    width:23px;
    height:39px;
    position:absolute;
    left:10px;
    top:30%;
    z-index:10;
    background:url(../../../wp-content/themes/VietHungFood/images/slidebanner_prev.png) no-repeat;
}
.productSlide .next{
    background:url(../../../wp-content/themes/VietHungFood/images/slidebanner_next.png) no-repeat;
    left:auto;
    right:10px;
}
.productSlide .slideCover{
    width:580px;
    height:120px;
    margin-left:40px;
    position:relative;
    overflow:hidden;
}
.productSlide .slideCover li{
    width:150px;
    float:left;
    text-align:center;
    margin:0;
}
.productSlide .slideCover .gold li{
    width:145px;
}


/* Promo */
.p-promo{
    border:1px solid #c2e4de;
    background:#fff;
    padding:15px 25px;
}
.p-promo .navSub{
    width:125px;
}
.p-promo .main{
    width:760px;
    float:left;
}
.p-promo .latestNews ul li{

    margin-top:-1px;
    padding:8px 0 8px 13px;
    background:url(../../../wp-content/themes/VietHungFood/images/slidenav_bullet.gif) no-repeat 0 13px;
}
.tvc{
    overflow:hidden;
    border-bottom:1px solid #bbe2db;
    margin-bottom:20px;
}
.tvc li{
    width:141px;
    height:127px;
    float:left;
    margin-right:45px;
    text-align:center;
}
.tvc li img{
    margin-bottom:4px;
}
.tvc li .thumb{
    display:block;
    width:141px;
    height:93px;
    overflow:hidden;
    position:relative;
}
.tvc li .thumb span{
    display:block;
    width:31px;
    height:31px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-15px 0 0 -15px;
    z-index:1;
    background:url(../../../wp-content/themes/VietHungFood/images/icon_play.png) no-repeat;
}

.p-promo .productSlide{
    margin:10px auto;
}


.promoList{
    border-bottom:1px solid #bbe2db;
    padding-bottom:15px;
    margin-bottom:20px;
    overflow:hidden;
}
.promoList ul{
    width:110%;
}
.promoList li{
    width:180px;
    height: 170px;
    float:left;
    margin-right:10px;
}
.promoList p{
    font-size:11px;
    height:15px;
    color:#227d31;
    padding:0 10px 0 0;
}
.promoList p a{
    font-size:11px;
    font-weight:400;
}
.promoList a.viewMore{
    background:url(../../../wp-content/themes/VietHungFood/images/icon_readmore_arrow.gif) no-repeat right center;
    padding-right:8px;
}
.promoList .thumb{
    /*float:left;*/
    margin-right:8px;
}


#player{
    width:490px;
    height:311px;
    margin:0 auto 35px;
}
.productSlide .slideCover .tvc li {
    width: 141px;
    height: 127px;
    float: left;
    margin:0 26px;
    text-align: center;
}


/* Suc khoe */
.p-health{
    border:1px solid #c2e4de;
    background:#fff;
    padding:15px 25px;
}
.p-health .navSub{
    width:125px;
}
.p-health .main{
    width:760px;
    float: right;
}
.p-health h1{
    margin-bottom:15px;
}
.p-health .main .promoList{
    border:none;
}
.p-health .main li{
    margin-bottom:0px;
}
.p-health .latestNews ul li{
    margin-top:-1px;
    padding:8px 0 8px 13px;
    background:url(../../../wp-content/themes/VietHungFood/images/slidenav_bullet.gif) no-repeat 0 13px;
}




.infiniteCarousel {
    position: relative;
}

.infiniteCarousel .wrapper {
    overflow: auto;
    position: absolute;
    top: 0;
}

.infiniteCarousel ul a img {
}

.infiniteCarousel .wrapper ul {
    width: 9999px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
    top: 0;
}

.infiniteCarousel ul li {
    display:block;
    float:left;
    text-align:center;
    height:170px;
}

.infiniteCarousel ul li a img {
    max-height: 80px;
    max-width: 70px;
}



.port_slideshow {
    width:640px;
    height:219px;
    position:relative;
}
#port_view_all {
    width:640px;
    height:219px;
    position:relative;
    overflow:hidden;
}
.port_view_all {
    position:absolute;
    width:640px;
    height:219px;
    overflow:hidden;
}
.port_view {
    width:640px;
    height:219px;
    /*position:relative;*/ position:absolute; left:0; top:0;
    /*display:none;*/
   /* background:url(../../../wp-content/themes/VietHungFood/images/loader.gif) no-repeat center center;*/
}
.port_image1 {
    position:absolute;
    left:0;
    top:0;
    display:none;
}

.port_image2 {
    position:absolute;
    right:25px;
    bottom:20px;
    display:none;
}

.disableLayer{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    bottom:0;
/*    background:url(../../../wp-content/themes/twentyeleven/images/b.gif) repeat;*/
    z-index:9999;
    display:none;
}
.content-videopromotion{
    width:600px;
    margin:0px auto;
    text-align:center;
}
.title-video, .title-article{
    text-align:left;
    width:100%;
    font-size:11pt;
    color:#333;
    font-weight:bold;margin-bottom:10px;
}
.gs-no-results-result .gs-snippet,
.gs-error-result .gs-snippet {
    padding : 5px;
    margin : 5px;
    border : 1px solid rgb(255,204,51);
    background-color : rgb(255,244,194);
}
#navSub {
    float:left;
    width:160px;
    margin-left:-45px;
}
#navSub li a {
    /*background:url(../images/navsub_bg.gif) no-repeat;height:32px;*/
    display:block;
    width:140px;

    padding:0 4px 16px 0;
    line-height:32px;
    color:#fff;
    font-size:14px;
    font-weight:700;
    text-align:center;
    text-shadow:0px 1px 1px #04702f;
}
/*#navSub li a:hover, #nav li a.active {
    background-position:0 bottom;
    color:#007830;
    text-decoration:none;
    text-shadow:0px 1px 1px #84ccbb;
}*/
#navSub li ul {
    display: none;
    margin-left: 0px;
    position: absolute;
    background: #b4efe0;
    margin-bottom: 10px;
    width: 125px;
    margin-top: -18px;
}
#navSub .cat2:hover ul{
    display: block;
}
#navSub .cat2 ul li:hover a{
    color: #ff0000;
}
#navSub li ul li a {
    padding: 0px 5px;
    background: transparent;
    text-align: left;
    color: #666666;
    text-shadow:none;
    font-size: 11px;
    font-weight: bold;
    padding-left: 10px;
    height: 25px;
    border-bottom: 1px solid #ddd;
    width: 110px;
    line-height: 25px;
    box-shadow: 0px 1px 1px 0 #fff;
    -webkit-box-shadow: 0px 1px 1px 0 #fff;
    -moz-box-shadow: 0px 1px 1px 0 #fff;
}
#navSub li ul li{
    width:125px;
    margin-bottom: 0px;
}
.errmsg {
    color: red;
    font-size: 10pt;
}
.lienhe{
    background: #fff;
}
.textbox{ width:300px; font-size:10pt;}
.button{
    padding: 8px;
    font-size: 12px;
}

